{% extends "base.html" %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block extra_css %}


{% endblock %}

{% block content %}

<div class="login-container">

    <h3>
        Login via Email
    </h3>

    <form method="POST" novalidate>

        {% csrf_token %}

        <div class="mb-3">

            <label for="email"
                   class="form-label">

                Email Address

            </label>

            {{ form.email }}

        </div>

        <button type="submit"
                class="btn btn-glow">

            Send OTP

        </button>

    </form>

</div>

{% endblock %}